.logo{
    width: 30%;
}

.nav{
    border-bottom: .5px black solid;
    color: black;
    display: flex;
    align-items: center;
    
}

.categoria{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}