.anuncio {
    text-align: center;
    background-color: #008dd0;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

.texto-anuncio {
    margin-bottom: 0 !important;
    color: #fff;
    font-weight: 700;
}
.categoria {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}