footer {
  background-color: rgb(43, 38, 38);
  color: #fff;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}

.container {
  display: flex;
  justify-content: left;
  padding: 2, 5% 2, 0.5% 20% 20%;
}

.left-links {
  flex-basis: 25%;
}

.logo-center {
  text-align: center;
  flex-basis: 50%;
}

.links {
  font-weight: 400;
  color: #fff;
  display: block;
  text-decoration: none;
}

.copyright {
  text-align: center;
}

@media (max-width: 767px) {
  .left-links {
    display: none;
  }

  .right-links {
    display: none;
  }
}